= label_tag 'Video'
.flash-notifications.js-listing-image-loading.hidden#video_flash
  .flash-notification{:class => "flash-notice"}
    .flash-icon{:class => icon_class("loading")}
    .flash-text
      = t("listings.form.images.video_uploading_in_progress")
.flash-notifications#video_complete_flash{style: @listing.listing_video.present? && @listing.listing_video.url.present? ? 'display:block' : 'display:none'}
  .flash-notification{:class => "flash-notice"}
    .flash-icon{:class => icon_class("check")}
    .flash-text
      = t("listings.form.images.video_uploaded_successfully")

= s3_uploader_form id: "s3-uploader" do
  = file_field_tag :file, accept: "video/mp4,video/x-m4v,video/*"

- content_for :videos_js do
  :javascript
    $(function() {
      $("#submit_listing_btn").click(function(){
        $('.listing_form').submit();
      });
      $('#s3-uploader').validate({
      });
      $("#s3-uploader").S3Uploader();
      $('#s3-uploader').bind("s3_uploads_start", function(e, content) {
        $('#video_complete_flash').hide();
        $('#video_flash').show();
        $('#submit_listing_btn').attr('disabled', true)
      });
      $('#s3-uploader').bind("s3_upload_complete", function(e, content) {
        console.log('finish');
        url = content.url
        $('#video_url').val(url);
        $('#submit_listing_btn').attr('disabled', false);
        $('#video_flash').hide();
        $("#video_complete_flash").show();
      });
    });

- if run_js_immediately
  = yield :videos_js
- else
  - content_for :extra_javascript do
    = yield :videos_js
  